<html>
<style>

	/*navbar*/
.div1 {
	  grid-area: 1 / 1 / 2 / 6;
	  height: 90px;
	}
	
	.div2 {
	  grid-area: 2 / 1 / 12 / 6;
	  height: auto;
	  background: black;
	}
	
	.div1 {
	  background: url("../images/svg/bg-01.svg");
	  repeat: background-repeat;
	}
	
	.div3 {
	  grid-area: 12 / 1 / 13 / 6;
	  max-height: 20px;
	}
	.
	.apa-name {
	  font-family: "Josefin Sans", sans-serif;
	  font-weight: 700;
	  color:  #ff4d6f;
	}
	
	.apaBrand-bottom {
	  display: block;
	  color: #ff4d6f;
	  font-family: "Josefin Sans", sans-serif;
	  font-weight: 700;
	  font-size: 2.7rem;
	}
	
	.bg-custom {
	  background-color:  #ff4d6f;;
	  width: 100vw;
	  height: 50px;
	  align-content: center;
	}
	
	.bg-custom-02 {
	  color: black;
	  background:  #ff4d6f;
	  border: 2px dotted black;
	  border-radius: 15px;
	}

	</style>


</div>
	<div class="div3">
		<nav class="navbar fixed-bottom bg-custom container-fluid ">
			<form class="form-group align-center ">
				<input type="text " name="buscarFooter" for="buscarFooter" placeholder="buscar" id="buscarFooter" />
				<button type="button" class="btn btn-dark btn-sm "><i class="bi bi-search-heart-fill "></i></button>
			</form>
		</nav>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
