<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- CSS only -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<%- include ('./partials/head')%>

</head>

<body class="bg-warning">

	<%- include ('./partials/navbar')%>

		<div class="container">
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col-md-3">
					<div class="card">
						<img src="img/var.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Var </h5>
							<p class="card-text">Define una variable .</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/doctype.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">!DOCTYPE</h5>
							<p class="card-text">Define el tipo de documento.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/wbr.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">wbr</h5>
							<p class="card-text">Definición de salto en línea</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/ul.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">ul</h5>
							<p class="card-text">Definicion de lista desordenada.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row row-cols-1 row-cols-md-2 lg-4">
				<div class="col-md-3">
					<div class="card">
						<img src="img/a.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">a</h5>
							<p class="card-text">Define un hipervínculo .</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/abbr.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> abbr</h5>
							<p class="card-text">Define una abreviación.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/adress.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Address </h5>
							<p class="card-text"> Define la información de contacto del autor / propietario del documento.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/area.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Area </h5>
							<p class="card-text"> Define un área dentro de un mapa de imagen.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col-md-3">
					<div class="card">
						<img src="img/article.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Article </h5>
							<p class="card-text"> Define un articulo.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/aside.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Aside </h5>
							<p class="card-text"> Define el contenido lateral del contenedor de una página.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/audio.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> audio</h5>
							<p class="card-text"> Define contenido de sonido.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/b.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> b </h5>
							<p class="card-text"> Define texto en negrita.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col-md-3">
					<div class="card">
						<img src="img/base.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> base </h5>
							<p class="card-text"> Especifica la base donde se abrirán todas las URL del documento.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/bdi.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> bdi </h5>
							<p class="card-text"> Aísla una parte del texto que puede tener un formato diferente del texto externo.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/bdo.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> bdo</h5>
							<p class="card-text"> Sobreescribe la dirección del texto.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/blockquote.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">blockquote</h5>
							<p class="card-text"> Define una sección que tiene otra fuente.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col-md-3">
					<div class="card">
						<img src="img/body.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Body </h5>
							<p class="card-text"> Define el cuerpo del documento.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/br.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Br </h5>
							<p class="card-text">Define un salto de línea .</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/button.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Button </h5>
							<p class="card-text"> Define un botón clickeable .</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/canvas.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title"> Canvas</h5>
							<p class="card-text">Se usa para dibujar gráficos en pantalla .</p>
						</div>
					</div>
				</div>
			</div>





			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col-md-3">
					<div class="card">
						<img src="img/caption.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Caption</h5>
							<p class="card-text"> Define el título de una tabla.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/cite.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Cite</h5>
							<p class="card-text"> Define el título de un trabajo.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/code.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Code</h5>
							<p class="card-text"> Define un trozo de código de programación.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<img src="img/coulgroup.JPG" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Col</h5>
							<p class="card-text"> Especifica las propiedades de la columna para cada columna del elemento colgroup.</p>
						</div>
					</div>
				</div>

			</div>






			<!-- JavaScript Bundle with Popper -->
			<%- include ('./partials/footer')%>

				<!-- JavaScript Bundle with Popper -->
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
</body>

</html>